<d2-custom-data-entry-form custom-data-entry-form="customDataEntryForm"></d2-custom-data-entry-form>
<table class="dhis2-list-table-striped default-form-table" ng-if="registrationMode === 'REGISTRATION'">
        <tr>
            <td>
                <span d2-pop-over
                    class="popover-label hideInPrint small-horizontal-spacing"
                    details="{{'details'| translate}}"
                    content="completeStageInfo"
                    template="dataelement-details.html"
                    trigger="click"
                    placement="right">
                    <a href ng-attr-title="{{'details'| translate}}" class="wrap-text" tabindex="-1">{{'complete_stage'|translate}}</a>
                </span>
                <span class="required">*</span>
            </td>            
            <td class="absorbing-column">
                <div class="hideInPrint">
                    <d2-radio-button
                        class="form-control"
                        dh-required="true"
                        dh-value="completeEventOnRegistration"
                        dh-name="completeStage"
                        dh-click="setCompleteStage(value)"
                        dh-field="innerForm.foo">
                    </d2-radio-button>
                    <div ng-messages="outerDataEntryForm.completeStage.$error" ng-if="interacted(outerDataEntryForm.completeStage, outerDataEntryForm)" class="error-text" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html"></div>
                </div>
            </td>
        </tr>
    </table>