<!-- event dates/scheduling begin -->
<div class="row" ng-if="displayCustomForm !== 'TABLE' && displayCustomForm !== 'COMPARE' && !currentStage.periodType">

    <div ng-class="{true: 'col-sm-12', false: 'col-sm-6'} [currentStage.hideDueDate]">
        {{currentEvent.executionDateLabel ? currentEvent.executionDateLabel : 'report_date' | translate}}
        <input type="text"
               placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
               class="form-control hideInPrint" 
               ng-class="{'input-success': eventDateSaved}"
               d2-date-validator 
               d2-date 
               max-date="0"
               min-date=""
               name="eventDate"
               ng-model="currentEvent.eventDate"
               ng-disabled="currentEvent.status === 'SKIPPED' || selectedEnrollment.status !== 'ACTIVE' || currentEvent.editingNotAllowed"    
               ng-required="true"
               blur-or-change="saveEventDate()"/>
        <input type="text"
               class="form-control not-for-screen" 
               ng-class="{'input-success': eventDateSaved}"               
               value={{currentEvent.eventDate}}>
        <div ng-messages="outerDataEntryForm.eventDate.$error" ng-if="interacted(outerDataEntryForm.eventDate)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">                        
        </div>        
    </div>
    <div ng-if="!currentStage.hideDueDate && !registrationAndDataEntry"  class="col-md-6">
        <span ng-if="currentEvent.eventDate || currentEvent.status === 'SKIPPED' || currentEvent.dueDate || registrationMode === 'REGISTRATION'">
            {{'due_date'| translate}}
        </span>
        <span ng-if="!currentEvent.eventDate && currentEvent.status !== 'SKIPPED' && !selectedEntity.inactive && selectedEnrollment.status === 'ACTIVE' && registrationMode !== 'REGISTRATION'">
            <a href ng-click="enableRescheduling()" title="{{ schedulingEnabled ? 'disable_rescheduling' : 'enable_rescheduling' | translate}}"><span class="text-primary bold">{{'reschedule_duedate'| translate}}</span></a>                        
        </span>                    
        <input type="text"
               placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
               class="form-control hideInPrint"
               ng-class="{'input-success': dueDateSaved}"
               d2-date-validator 
               d2-date       
               name="dueDate"
               ng-model="currentEvent.dueDate"
               blur-or-change="saveDueDate()" 
               ng-disabled="currentEvent.eventDate || !schedulingEnabled || currentEvent.enrollmentStatus !== 'ACTIVE' || currentEvent.editingNotAllowed"/>
        <input type="text"
               class="form-control not-for-screen"
               ng-class="{'input-success': dueDateSaved}"
               value={{currentEvent.dueDate}}>        
        <div ng-messages="outerDataEntryForm.dueDate.$error" ng-if="interacted(outerDataEntryForm.dueDate)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">                        
        </div>
    </div>
</div>
<!-- event dates/scheduling end -->

<!-- coordinates begin -->
<div class="row" ng-if="currentStage.captureCoordinates && currentEvent.eventDate || currentStage.captureCoordinates && registrationMode === 'REGISTRATION'">    
    <div class="col-sm-12">
        {{'coordinate' | translate}} - {{!schedulingEnabled || currentEvent.enrollmentStatus !== 'ACTIVE' || currentEvent.editingNotAllowed}}
        <d2-map d2-lat-saved="latitudeSaved"
                d2-lng-saved="longitudeSaved"
                d2-object="currentEvent" 
                d2-disabled="currentEvent.status !== 'ACTIVE' || currentEvent.editingNotAllowed || selectedEnrollment.status !== 'ACTIVE'"
                d2-function="saveCoordinate(arg1)" 
                d2-coordinate-format="'COORDINATE'"
                d2-function-param-coordinate="LATLNG">
        </d2-map>
    </div>    
</div>
<!-- coordinates end -->
