<!-- event dates/scheduling begin -->
<div class="row" ng-if="displayCustomForm !== 'TABLE' && displayCustomForm !== 'COMPARE'">
        
    <div ng-class="{true: 'col-sm-12', false: 'col-sm-6'} [currentStage.hideDueDate || currentStage.periodType !== undefined]">
        {{currentStage.executionDateLabel ? currentStage.executionDateLabel : 'report_date' | translate}}
        <span class="required">*</span>
        <input type="text"
               placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
               class="form-control hideInPrint"
               ng-class="{'input-success': eventDateSaved}"
               d2-date-validator
               d2-date
               max-date="model.maxDate?model.maxDate : '0'"
               min-date="model.minDate?model.minDate : ''"
               name="eventDate"
               ng-model="currentEvent.eventDate"
               ng-change="verifyExpiryDate('currentEvent.eventDate')"
               ng-disabled="selectedOrgUnit.closedStatus || currentEvent.status === 'SKIPPED' || selectedEnrollment.status !== 'ACTIVE' || currentEvent.editingNotAllowed || currentStage.periodType"
               ng-required="true"
               blur-or-change="saveEventDate()"/>
        <input type="text"
               class="form-control not-for-screen"
               ng-class="{'input-success': eventDateSaved}"
               value={{currentEvent.eventDate}}>
        <div ng-messages="outerDataEntryForm.eventDate.$error" ng-if="interacted(outerDataEntryForm.eventDate)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">
        </div>
    </div>
    <div ng-if="!currentStage.hideDueDate && !registrationAndDataEntry && !currentStage.periodType"  class="col-md-6">
        <span ng-if="currentEvent.eventDate || currentEvent.status === 'SKIPPED' || currentEvent.dueDate || registrationMode === 'REGISTRATION'">
            {{currentStage.dueDateLabel ? currentStage.dueDateLabel : 'due_date' | translate}}
        </span>
        <span ng-if="!currentEvent.eventDate && currentEvent.status !== 'SKIPPED' && !selectedEntity.inactive && selectedEnrollment.status === 'ACTIVE' && registrationMode !== 'REGISTRATION'">
            <a href ng-click="enableRescheduling()" title="{{ schedulingEnabled ? 'disable_rescheduling' : 'enable_rescheduling' | translate}}"><span class="text-primary bold">{{'reschedule_duedate'| translate}}</span></a>
        </span>
        <input type="text"
               placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
               class="form-control hideInPrint"
               ng-class="{'input-success': dueDateSaved}"
               d2-date-validator
               d2-date
               name="dueDate"
               max-date="model.maxDate?model.maxDate : ''"
               min-date="model.minDate?model.minDate : ''"
               ng-model="currentEvent.dueDate"
               ng-change="verifyExpiryDate('currentEvent.dueDate')"
               blur-or-change="saveDueDate()"
               ng-disabled="selectedOrgUnit.closedStatus || currentEvent.eventDate || !schedulingEnabled || currentEvent.enrollmentStatus !== 'ACTIVE' || currentEvent.editingNotAllowed"/>
        <input type="text"
               class="form-control not-for-screen"
               ng-class="{'input-success': dueDateSaved}"
               value={{currentEvent.dueDate}}>        
        <div ng-messages="outerDataEntryForm.dueDate.$error" ng-if="interacted(outerDataEntryForm.dueDate)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">                        
        </div>
    </div>    
</div>
<!-- event dates/scheduling end -->

<!-- coordinates begin -->
<div class="row" ng-if="currentStage.captureCoordinates && currentEvent.eventDate || currentStage.captureCoordinates && registrationMode === 'REGISTRATION'">    
    <div class="col-sm-12">
        {{'coordinate' | translate}}
        <d2-map d2-lat-saved="latitudeSaved"
                d2-lng-saved="longitudeSaved"
                d2-object="currentEvent" 
                d2-disabled="selectedOrgUnit.closedStatus || currentEvent.editingNotAllowed || selectedEnrollment.status !== 'ACTIVE'"
                d2-function="saveCoordinate(arg1)" 
                d2-coordinate-format="'COORDINATE'"
                d2-function-param-coordinate="LATLNG">
        </d2-map>
    </div>    
</div>
<!-- coordinates end -->

<!-- attribute category options begin -->
<div class="row" ng-if="selectedProgram.categoryCombo && !selectedProgram.categoryCombo.isDefault && currentEvent && currentEvent.attributeCategoryOptions && currentEvent.attributeOptionCombo">
    <div class="col-sm-12">
        
        <a href 
           ng-click="editAttributeCategoryOptions()" 
           title="{{'edit' | translate}}">
            {{selectedProgram.categoryCombo.displayName}}  <i class="fa fa-pencil-square-o"></i>
        </a>        
        
        <div ng-if="showAttributeCategoryOptions">
            <table class="table table-striped table-bordered">
                <tr ng-repeat="category in selectedProgram.categoryCombo.categories">
                    <td>
                        {{category.displayName}}
                    </td>
                    <td>
                        <ui-select ng-model="category.selectedOption"
                                theme="select2"
                                name="foo"
                                on-select="saveAttributeCategoryOptions()"
                                style="width: 100%">
                            <ui-select-match allow-clear="false" ng-class="getOptionSaveNotifcationClass(category.id)"  class="form-control-ui-select"  placeholder="{{'select_or_search' | translate}}">{{$select.selected.displayName  || $select.selected}}</ui-select-match>
                            <ui-select-choices  repeat="option in category.categoryOptions | filter: $select.search | limitTo:maxOptionSize">
                              <span ng-bind-html="option.displayName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                </tr>
            </table>
        </div>
    </div>    
    
</div>
<!-- attribute category options end -->
