<table class="table table-bordered" ng-if="eventsByStage[currentStage.id].length > 0">
    <thead ng-if="currentStage.repeatable">
        <tr>
            <th ng-repeat="col in eventGridColumns.partial">
                {{col.name}}                                        
            </th>
        </tr>
    </thead>
    <tbody ng-repeat="dhis2Event in eventsByStage[currentStage.id]" ng-if="currentStage.repeatable">
        <tr ng-click="showDataEntry(dhis2Event, false, false)">
            <td ng-class="getEventStyle(dhis2Event)" class="cursor-pointer"  ng-repeat="col in eventGridColumns.partial">
                {{dhis2Event[col.id]}}                                    
            </td>
        </tr>
        <tr ng-if="currentEvent && currentEvent.programStage === currentStage.id && dhis2Event.event === currentEvent.event">
            <td colspan="{{eventGridColumns.partial.length}}" class="cursor-pointer">
                <div ng-include="'components/dataentry/main-dataentry-form.html'"></div>
            </td>
        </tr>
    </tbody>
    <tbody ng-repeat="dhis2Event in eventsByStage[currentStage.id]" ng-if="!currentStage.repeatable">
        <tr>
            <td colspan="{{eventGridColumns.partial.length}}" class="cursor-pointer">
                <div ng-include="'components/dataentry/main-dataentry-form.html'"></div>
            </td>
        </tr>
    </tbody>
</table>