language: node_js
node_js:
- '8'
before_script:
- npm install --global @dhis2/deploy-build
script:
- npm run build
deploy:
- provider: script
  script: deploy-build
  skip_cleanup: true
  on:
    all_branches: true
- provider: script
  script: publish-build
  skip_cleanup: true
  on:
    tags: true
env:
  global:
    secure: A9HNijEiwHz0ZV9DsPbl7VwUlV1rf7SsRiIW3Mq0AsXbupWXc9imFvbDDCyORNy61GKlHBgrHB9BxQZlaG4GO0aAVNpQ1yyTf4+B2NPpM5ja567HQdTH1P/AyDnT67FlSbetI/Rya+vecXCvS3KzGZDrhw2OHs059vBufBycnSYCQd6K+zNqJNI3iXlQZGyU9CW/ha0ggU5b1oXX8YqmRdYn+uvf6XJJmFINvI60n3ECxOwKuQg/ok2BukH8n/0H1kSSxycehn/7MoABEgc6qXxWjgAcDnKFZYngnntwJxtUFa60CW9xKuVtWtTEgvio4i2KfhAl5cxSHiBT3a2xzeyH/NXdTSRDo3O6+hptfaNc/Tux/8eLHNOqaDFlp2CGMG411qFk53EpuT+bV7LiyZpye3c3HZRz7YUQqrJVI3RV9DnEMIpC6etvCLU4yuRLJEGi5EMx3VMBLmumSRHmh7SvPUtu/sZfj1jFbEplAoJMFsQUBq+99r1kQjX3MUTLazjYkA6muHvr0zA5K3c30PGM+c24JxTybJ1L5AQpthQznXBr7NF6C5yt/7B3E+QbJ5N3CU5T357fcRlM16fVhHtOmylUP0s49RtXeM8pygAyycnU5SkITnygPH+0Fih8+xiF8xAiDztb8dEzbaL6AR9wntAiu9X9BFyP2vTL/UU=
