<div class="modal-header page">
    <h2>Last opp Excel-fil med nærkontakter</h2>
</div>

<div class="modal-body">
    <div ng-if="stageNr === 1">
        <p>Her kan du laste opp en klasseliste fra regneark, og knytte de automatisk til klyngen.</p>
        <p>Bruk denne malen for å fylle ut klasselisten: <a href="https://minside.kommune.no">klasselistemal.xls</a></p>
        <p>Du vil kunne verifisere handlingen etter du har lastet opp klasselisten</p>
        <button class="btn btn-grp btn-file">
            <span>
                Last opp klasseliste
                <i class="fa fa-upload"></i>
                <form name="fileForm">
                <input type="file"
                       custom-on-change="uploadTry"
                       ng-model="releationFile"
                       name="relationFile">
                </form>
            </span>
        </button>
    </div>

    <div ng-if="stageNr === 1.5">
        Laster opp {{file}}
        <i class="fa fa-spinner fa-spin audit-spinner"></i>
    </div>

    <div ng-if="stageNr === 2">
        <p>
            Excel-filen kunne leses.
        </p>
        <div ng-if="uploadResult && uploadResult.importOk.length">
            Følgende personer vil bli lagt til klyngen:
            <ul>
                <li ng-repeat="person in uploadResult.importOk">
                    {{person.firstName}} {{person.lastName}} ({{person.fnr}})
                </li>
            </ul>
        </div>
        <div ng-if="uploadResult && uploadResult.importNotPossible.length">
            Følgende personer kan ikke legges til automatisk og må legges til manuelt:
            <ul>
                <li ng-repeat="person in uploadResult.importNotPossible">
                    {{person.firstName}} {{person.lastName}} ({{person.fnr}})
                </li>
            </ul>
        </div>
        <button class="btn btn-grp btn-file btn-default">
            <span>
                Last opp en annen klasseliste istedet
                <i class="fa fa-upload"></i>
                <form name="fileForm">
                <input type="file"
                       custom-on-change="uploadTry"
                       ng-model="releationFile"
                       name="relationFile">
                </form>
            </span>
        </button>
        <button class="btn btn-primary" ng-click="upload()">Legg klasseliste til klynge</button>
    </div>
    <div ng-if="stageNr === 3">
        <p>
            Excel-filen ble importert.
        </p>
        <div ng-if="uploadResult && uploadResult.importOk.length">
            Følgende personer er lagt til klyngen:
            <ul>
                <li ng-repeat="person in uploadResult.importOk">
                    {{person.firstName}} {{person.lastName}} ({{person.fnr}})
                </li>
            </ul>
        </div>
        <div ng-if="uploadResult && uploadResult.importNotPossible.length">
            Følgende personer kunne ikke legges til automatisk og må legges til manuelt:
            <ul>
                <li ng-repeat="person in uploadResult.importNotPossible">
                    {{person.firstName}} {{person.lastName}} ({{person.fnr}})
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="close()">{{'close' | translate}}</button>
</div>