<div class="modal-header page">
    <h3>Vaksineringer</h3>
</div>
<div class="modal-body page">
    <table class="dhis2-list-table-striped default-form-table">
        <tr ng-repeat="vaccine in gridData">
            <td><b>Dose {{$index +1}}</b> <br>{{dateFromItem(vaccine)}}
            <td><div style="padding-bottom:5px">{{vaccine.vaccineCode.display}}</span>
        </tr>
    </table>
    <div ng-if="!gridData || gridData.length == 0">
        {{noVaccinesMessage}}
    </div>
</div>
<div class="modal-footer page modal-search-bottom">
    <div class="modal-search-bottom-buttons">
        <button class="btn btn-default" data-ng-click="cancel()">{{'back'| translate}}</button>
    </div>
</div>
