{{widget.title}}
<div ng-controller="RuleBoundController" widget-title="{{widget.title}}" widget="{{widget}}">
    <div class="panel panel-default-custom"> <!--ng-if="showKeyDataSection || showTextSection">-->
        <div class="panel-heading handle bold">
            {{widgetTitleLabel}}
            <span class="pull-right">
                <a class="small-horizontal-spacing" href ng-click="expandCollapse(this.widget)">
                    <span ng-show="this.widget.expand"><i class="fa fa-chevron-up" title="{{collapseLabel}}"></i></span>
                    <span ng-show="!this.widget.expand"><i class="fa fa-chevron-down" title="{{expandLabel}}"></i></span>
                </a>
                <a ng-show="userAuthority.canAdministerDashboard || !lockedList[selectedProgram.id]" class="small-horizontal-spacing" href ng-click="removeWidget(this.widget)" title="{{removeLabel}}"><i class="fa fa-times-circle"></i></a>            
            </span>        
        </div>        
        <div ng-show="this.widget.expand" class="panel-body dashboard-widget-container">
            <div>
                <div class="panel-body" ng-if="data && data.keyDataInEffect">
                    <div ng-repeat="(key,item) in data.displayKeyDataEffects" ng-show="item.ineffect"  class="info-container">
                        <div class="info-container-heading">{{item.content | trimquotes }}</div>
                        <div class="info-container-text">{{item.data | trimquotes}}</div>          
                    </div>
                </div>
                <table class="table table-striped dashboard-element-container" ng-if="data && data.textInEffect">
                    <tr ng-repeat="(key,item) in data.displayTextEffects" ng-if="item.ineffect">
                        <td>
                            <div>
                                {{item.content | trimquotes}}<span ng-if="item.data">: {{item.data | trimquotes}}</span> 
                            </div>
                        </td>
                    </tr>
                </table>
                <div ng-show="!data || (!data.keyDataInEffect && !data.textInEffect)" class="alert alert-warning">{{widgetTitleLabel === "Indicators" ? emptyIndicatorListLabel : emptyFeedbackListLabel}}</div> 
            </div>
        </div>
    </div>
</div>
