<div class="modal-header page">
    <h2>Last opp Excel-fil med nærkontakter</h2>
</div>

<div class="modal-body">
    <!-- First page of modal -->
    <div ng-if="stage === 'start'">
        <p>Her kan du laste opp en liste med nærkontakter (klasseliste) fra regneark, og knytte de automatisk til
            klyngen.</p>
        <p>Bruk denne malen for å fylle ut listen: <a href="/api/import/excelmal">klasseliste_mal.xls</a></p>
        <p>Vi vil først verifisere listen. Du vil få se hvilke personer som kan importeres, deretter bestemmer du om
            disse skal importeres i klyngen eller ikke.</p>
        <button class="btn btn-grp btn-file">
            <span>
                Last opp liste for verifisering
                <i class="fa fa-upload"></i>
                <form name="fileForm">
                <input type="file" on-file-upload="uploadAndVerify">
                </form>
            </span>
        </button>
    </div>

    <!-- Uploading for verification spinner page -->
    <div ng-if="stage === 'uploadingImportTest'">
        <p>
            Husk: Du må se over hvilke nærkontakter som importeres og så trykke på "Legg nærkontakter til
            klynge"-knappen.
        </p>
        <i class="fa fa-spinner fa-spin" style="font-size: 2em"></i>
        Prøver å lese <em>{{file.name}}</em>
    </div>

    <!-- Uploading for verification success page -->
    <div ng-if="stage === 'importTestSuccess'">
        <p>
            Husk: Du må se over hvilke nærkontakter som importeres og så trykke på "Legg nærkontakter til
            klynge"-knappen.
        </p>
        <p>
            Excel-filen kunne leses.
        </p>
        <div style="display: flex">
            <div ng-if="uploadResult && uploadResult.importOk.length" style="padding-right: 2em">
                Følgende personer vil bli lagt til klyngen:
                <ul style="list-style: none">
                    <li ng-repeat="person in uploadResult.importOk">
                        <i class="fa fa-check"></i> {{person.firstName}} {{person.lastName}} ({{person.fnr}})
                    </li>
                </ul>
            </div>
            <div ng-if="uploadResult && uploadResult.importNotPossible.length">
                Følgende personer kan ikke legges til automatisk og må legges til manuelt:
                <ul style="list-style: none">
                    <li ng-repeat="person in uploadResult.importNotPossible">
                        <i class="fa fa-exclamation-triangle"></i> {{person.firstName}} {{person.lastName}} ({{person.fnr}})
                    </li>
                </ul>
            </div>
        </div>
        <button class="btn btn-grp btn-file btn-default">
            <span>
                Last opp en annen liste istedet
                <i class="fa fa-upload"></i>
                <form name="fileForm">
                <input type="file" on-file-upload="uploadAndVerify">
                </form>
            </span>
        </button>
        <button class="btn btn-primary" ng-click="uploadAndImport()">Legg nærkontakter til klynge</button>
    </div>

    <!-- Import spinner page -->
    <div ng-if="stage === 'uploadingImport'">
        <i class="fa fa-spinner fa-spin" style="font-size: 2em"></i>
        Importerer nærkontakter fra <em>{{file.name}}</em>
    </div>

    <!-- Import success page -->
    <div ng-if="stage === 'importSuccess'">
        <p>
            Excel-filen ble importert.
        </p>
        <div ng-if="uploadResult && uploadResult.importOk.length">
            Følgende personer er lagt til klyngen:
            <ul>
                <li ng-repeat="person in uploadResult.importOk">
                    {{person.firstName}} {{person.lastName}} ({{person.fnr}})
                </li>
            </ul>
        </div>
        <div ng-if="uploadResult && uploadResult.importNotPossible.length">
            Følgende personer kunne ikke legges til automatisk og må legges til manuelt:
            <ul>
                <li ng-repeat="person in uploadResult.importNotPossible">
                    {{person.firstName}} {{person.lastName}} ({{person.fnr}})
                </li>
            </ul>
        </div>
    </div>

    <!-- Upload failed page -->
    <div ng-if="stage === 'importFailed'">
        Lesing av <em>{{file.name}}</em> feilet.
        <h2>Feilmelding:</h2>
        <pre>
            {{errorMsg}}
        </pre>
        <button class="btn btn-primary" ng-click="reset()">Prøv på nytt</button>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="close()">{{'close' | translate}}</button>
</div>
